<div class="col-xs-12 image-col">
  {{#link-to 'question' question.id}}
  <p>Name: {{question.author}}</p>
  <p>Question: {{question.content}}</p>
  <p>Notes: {{question.notes}}</p>
  {{/link-to}}
  {{question-update question=question update="update"}}
</div>
<br><br>
