<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>Q&A Board</h1>
      {{#link-to 'index'}}Home{{/link-to}}
      {{outlet}}
    </div>
  </body>
</html>
