<h3>Answer a question!</h3>

<ul>
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

<p>Add a question to the board!</p>

{{question-add saveQuestion="saveQuestion"}}
